openapi: 3.2.0
info:
  title: Aleo Node REST Transactions API
  description: The public REST API exposed by Aleo network nodes (snarkOS), served through Provable's public gateway at api.explorer.provable.com.
  version: v1
  contact:
    name: Provable / Aleo Developer Community
    url: https://docs.aleo.org/
  license:
    name: Apache-2.0
    url: https://github.com/ProvableHQ/snarkOS/blob/staging/LICENSE.md
servers:
- url: https://api.explorer.provable.com/v1
  description: Provable public gateway (mainnet + testnet)
tags:
- name: Transactions
  description: Transaction submission
paths:
  /{network}/transaction/broadcast:
    post:
      operationId: broadcastTransaction
      tags:
      - Transactions
      summary: Broadcast a transaction
      description: Submits a signed, serialized transaction to the network for inclusion. The request body is the JSON transaction object produced by snarkVM / the Provable SDK.
      parameters:
      - $ref: '#/components/parameters/Network'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
      responses:
        '200':
          description: The accepted transaction ID.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: The transaction was rejected as invalid.
components:
  schemas:
    Transaction:
      type: object
      description: An Aleo transaction (execution or deployment).
      properties:
        type:
          type: string
          enum:
          - execute
          - deploy
          - fee
        id:
          type: string
        execution:
          type: object
        deployment:
          type: object
  parameters:
    Network:
      name: network
      in: path
      required: true
      description: The Aleo network to query.
      schema:
        type: string
        enum:
        - mainnet
        - testnet
        default: mainnet
externalDocs:
  description: Aleo developer documentation
  url: https://docs.aleo.org/
